<!doctype html>
<html>
  <head>
    <title>Movie Search Show Details</title>
  </head>
  <body>
<h2><%=film.Title%></h2>
<h3>Year: <%=film.Year%></h3>
<h3>Cast: <%=film.Actors%></h3>

<br>
<h3>Plot Summary</h3>
<p><%=film.Plot%></p>





<form action="/movie" method="POST">
		<input type="hidden" name="title" value = "<%=film.Title %>" >
		<input type="hidden" name="id" value = "<%=film.imdbID %>" >
		<input type="hidden" name="year" value = "<%=film.Year %>" >
    <input type="submit" value="Save to Favorites">

</form>
<form action="/">
	<input type="submit" value="Find More Movies">
</form>
  </body>
</html>

